# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
*.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Static and media collected files
staticfiles/
media/

# Testing & coverage
.coverage
htmlcov/
.pytest_cache/
